*pdf
*png
*2023*ipynb
*2024*ipynb
01-26-2024-Parameter_tuning_parallel_synapse.ipynb
12-14-2023-2NN_hidden_activation.ipynb
*2023*
*pickle
*sh
*pkl
*ubyte*
*.meta
*ray_tune.py
*yaml
*random*
.DS_Store
*json
*pyc
*batch*
*gz*
*.gitignore